/* Leeds First Friday App CSS */

/* GLOBAL */


@font-face {
	font-family: 'PolySans-Slim';
	src: url('../font/PolySans-Slim.otf');
}

@font-face {
	font-family: 'PolySans-Neutral';
	src: url('../font/PolySans-Neutral.otf');
}

@font-face {
	font-family: 'PolySans-Median';
	src: url('../font/PolySans-Median.otf');
}

@font-face {
	font-family: 'PolySans-Bulky';
	src: url('../font/PolySans-Bulky.otf');
}

@font-face {
	font-family: 'PolySansSlim';
	src: url('../font/PolySansSlim.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PolySansMedian';
	src: url('../font/PolySansMedian.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PolySansNeutral';
	src: url('../font/PolySansNeutral.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PolySansBulky';
	src: url('../font/PolySansBulky.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'BetterTimes';
	src: url('../font/Better Times.ttf');
	font-style: normal;
}

.venuesociallinks {
	display:flex;
	font-size:2em;
	justify-content: center;
}

.slink {
	color: rgba(255,255,255,0.7);
	margin-left:1em;
	margin-right:1em;
}

.evfull {
    font-family: 'PolySansBulky'!important;
    font-size: 1.2em!important;
	color:#ccc;
}

.placespacer {
	min-width:5vw;
}

.serviceicon {
	color:white!important;
		padding: 2vw;
		float: left;
}

.sicon {
	font-size: 8vw;
}

.serviceouter {
	background-color: #17a59d6e;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

    font-family: PolySansNeutral;
		font-weight: normal;
	font-style: normal;
	font-weight:700;
    font-size: 5vw;
    border-radius: 10px;
	margin-left:1.5vw;
	margin-right:2vw;
	padding-left:4px;
	padding-right:4px;
}

.servicename {
    padding: 2vw;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family: PolySansMedian;
    font-weight: normal;
    font-style: normal;
}

.servicecontainer {
	background-color: rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
    background-color: color(srgb 0 0 0 / 0.233);
    padding: 3vw;
    margin-bottom: 4px;
    border-radius: 10px;
}



.eventbanner{
	display:none;
	width: 80vw;
	text-align:center;
	margin-left:5vw;
	font-family: 'PolySans-Bulky';
	color: white;
	background-color: rgba(255,255,255,0.3);
	border-radius: 10px;
	padding-top: 2vw; padding-bottom:2vw;
	font-size:10vw;	
	position:absolute;
	margin-top:5vh;
	z-index:50;
	rotate: 20deg;
	opacity:0.3;
	
}

.headernew {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin:3vw;
	
}

.headlogo {
	height: 12vh;
}

.monthtext {
	font-family: 'PolySans-Median';
	font-size:18vw;
		background: #3d7ea0;
	background: -webkit-linear-gradient(left, #7bc9ef, #f3aab9);
	background: -o-linear-gradient(right, #7bc9ef, #f3aab9);
	background: -moz-linear-gradient(right, #7bc9ef, #f3aab9);
	background: linear-gradient(to right, #7bc9ef, #f3aab9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.headerdate{
    position: absolute;
    top: 1vh;
    right: 4vw;
    font-family: 'PolySansMedian';
	font-size:3vw;
	background: #3d7ea0;
	background: -webkit-linear-gradient(left, #7bc9ef, #f3aab9);
	background: -o-linear-gradient(right, #7bc9ef, #f3aab9);
	background: -moz-linear-gradient(right, #7bc9ef, #f3aab9);
	background: linear-gradient(to right, #7bc9ef, #f3aab9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}


html {
	-webkit-tap-highlight-color: rgba(001, 001, 001, 0.0);
}

body::-webkit-scrollbar {
	display: none;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;

}


body {
	
	height: 100vh;
	
	background-color: black;
	color:white;
	margin: 0;
}

video {width:50vw; margin:2vw 0vw 0vw 2vw}

.safety-title  {width:92vw}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.fblink {
	font-size: 1em;
	color: white;
	line-height:2em;
}

.fblink::before {
   font: var(--fa-font-brands);
   content: "\f39f";
   padding-right:5px;
    }

.instalink {
	font-size: 1em;
	color:white;
	line-height:2em;
}

.instalink::before {
   font: var(--fa-font-brands);
   content: "\f16d";
   padding-right:5px;
    }


.weblink {
	font-size: 1em;
	color:white;
	line-height:2em;
}

.weblink::before {
	font: var(--fa-font-regular);
	content: "\f004";
	padding-right: 5px;
}

.hide {
	display:none;
}

.socialbutton {
	background-color: rgba(0,0,0,0.2);
    border-radius: 20px;
    padding-top: 0.2vh;
    margin: 3vw 0px;
    display: block;
    text-align: center;
	color: color(srgb 1 1 1 / 0.701)!important;
	line-height:2em;
	font-size:16px;
}

.stleft {
	margin-right:2vw;
}

.stbutton {
	padding: 4px;
	border-radius: 10px;
	width:fit-content;
	font-size:0.9em!important;
}

.eventdate.grey {
	background: none;
	background-color:#888!important;
	opacity:0.2;
}

.loading {
	text-align: center;
    width: 100vw;
    margin-top: 50%;
    font-family: 'PolySansBulky';
	font-weight: normal;
	font-style: normal;
}

.spl {
		margin-top:40vh;
}

.loading.l3 {
	margin-top: 0;
	text-align:left;
}

#serviceslist {
	margin-top:0;
	text-align:left;
}

.serviceDisclaimer {
    padding: 2vw;
    font-size: 3vw;
}

.i_right{
margin-left:80vw;
}

.addinterest {
	text-align: right;
    color: color(srgb 1 1 1 / 0.701);
    font-size: 1em;
	font-family: PolySansSlim;
	font-weight: normal;
	font-style: normal;
	opacity:0.5;
	position: absolute;
	margin-top:-2vh;
	right:6vw;
	display: flex;
}

.int_text{
    font-family: PolySansSlim;
	font-weight: normal;
	font-style: normal;
    font-size: 0.8em;
    padding-right: 2vw;
    line-height: 3.5vh;
}

.interestbutton {
	font-size:1.2em;
}

.now_on {
	/* background-color: rgba(255,0,0,0.6)!important; */
    color: #ff55ff!important;
	border-radius: 10px;
	float:left;
}

.heightzero {
max-height:0px;
overflow-y: hidden;	
}

.venuemodal {
	display:none;
    padding-bottom:10vh;	
    width: 100vw; 
    top: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.placetype i {
	margin-left: 1vw;
}

.pages {
	width:500%;
}

.eventdate {
	transition: all 0.2s;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 0px;
}

.eventcontainer {
	transition: all 0.2s;
}

.nextlff {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
    font-size: 15px;
    line-height: 18px;
    margin-left: 2vw;
	margin-right: 2vw;
	margin-top:1vh;
}

.nextlffbold {
	font-family: PolySansBulky;
	font-weight: normal;
	font-style: normal;
	} 

a {
	text-decoration: none
}

.appcontent {
	transition: all 0.2s;
	position:absolute;
	padding-bottom:10vh;
}

.page1 {
	display: block;
	transform: translate(0,0);
}

.page2 {
	display: none;
	transform: translate(100%,0);
}

.page3 {
	display: none;
	transform: translate(100%,0);
}

.page4 {
	display: none;
	transform: translate(100%,0);
}

.page5 {
	display: none;
	transform: translate(100%, 0);
}

.desktop {
	display: none;
}

/* HEADER */

.titletext {
	font-size: 8vw;
	text-align: right;
	margin-right: 2.5vw;
	margin-top: 9vw;
	background: #3d7ea0;
	background: -webkit-linear-gradient(left, #7bc9ef, #f3aab9);
	background: -o-linear-gradient(right, #7bc9ef, #f3aab9);
	background: -moz-linear-gradient(right, #7bc9ef, #f3aab9);
	background: linear-gradient(to right, #7bc9ef, #f3aab9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.leedspridelogo {position: absolute; top:0; right:0;}
.leedspridelogo img {width:30vw; padding:0 2vw}

.cursive {
	font-family: BetterTimes;
}

.cta {
	background: none;
	padding: 6px 15px;
	margin: 20px auto;
	text-decoration: none;
	width: fit-content;
	border: solid 1px white;
	border-radius: 100px;
	line-height: 0px;
	padding: 16px
}

.ctatext a {
	color: white;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;

}

.ctalink {
	color: white !important;
	font-size: 12px !important;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
}



#main {
	transition: all 0.25s;
}

#footmenu {
	transition: all 0.25s;
}

#fullscreencard {
	display: none;
	position: absolute;
	top: 0;
	transition: all 0.25s;
	transform: translateY(100vh);
	background-color: rgba(0, 0, 0, .2);
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	z-index: 2;
}

#fsclone {
	transform: translateX(100%);
	transition: all 0.25s;
	position: absolute;
	text-align: center;
	width: 100vw;
}

.fullscreen {
	display: none;
}

.headertop {
/* 	position: fixed; */
	width: 100%;
	background-color: white;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: space-between;
	transition: all 0.25s;
	z-index: 1;
}

.applogo {
	height: 100%;
	height:10vh;
	padding: 2.5vw;
}

.applogo15 {
	padding: 2.5vw;
	height: 7vh;
}


/* FOOTER */

.footermenu {
	background-color: white;
	color: #acacac;
	position: fixed;
	bottom: 0vh;
	width: 100vw;
	border-top: solid 1px #dddddd;
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
}

.menulist {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
}

.menuitem {
	padding: 10px 0px 20px 0px;
	width: 25vw;
	text-align: center;
}

.menulist .fa-solid {font-size:25px; margin-bottom:2px}

.menulink {
	color: #717171;
	font-size: 1.1em;
	font-family: PolySansNeutral;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}


.menuitemactive {
	color: black !important;
}

.menudescription {
	font-size: .75em;
	margin-top: 1px
}

.pad-10 {
	padding: 10px
}


.mainpage {
	padding-bottom: 7vh;
}


.center {
	text-align: center;
}

.safetypage {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	font-size: 0.75em;
	border-radius:10px;
}

.safetyinfo {
	margin:2vw;
}

.safetytitle {
	font-family: PolySansBulky;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
}

.safetytext {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
}

.safetymore {
	font-family: PolySansNeutral;
	font-weight: normal;
	font-style: normal;
}

.safetyul {
	display: inline-block;
	text-align: left;
}

.safetylink {
	text-decoration: underline;
	color: white;
	color-visited: white;
}

.aoflogo {
	background-image: url("images/AofFwhite.webp");
	background-size: 65vw;
	background-position: center;
	background-repeat: no-repeat;
	height: 17vh;
	padding-bottom: 5vh;
}

.thclogo {
	background-image: url("images/hatecrime.png");
	background-size: 35vw;
	background-position: center;
	background-repeat: no-repeat;
	height: 17vh;
	padding-bottom: 5vh;
}

.westyorkshirepolicelogo {
	background-image: url("images/westyorkshirepolice.png");
	background-size: 50vw;
	background-position: center;
	background-repeat: no-repeat;
	height: 17vh;
	padding-bottom: 5vh;
}

.call-101 {
	background-image: url("images/call-101.png");
	background-size: 40vw;
	background-position: center;
	background-repeat: no-repeat;
	height: 40vh;
	margin-top: 4vh;
}


.map-angels-of-freedom {
	background-image: url("images/map-angels-of-freedom.png");
	background-size: 40vw;
	background-position: center;
	background-repeat: no-repeat;
	height: 40vh;
	margin-top: 4vh;

}

.homescreenbox {
	max-width: 95%;
	background-color: rgba(255, 255, 255, 0.2);
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	margin-top: 1vh;
}

.homescreentext {
	text-align: center;
	padding: 6vw 0;
	color: white;
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	font-size: 3vw;
	width: 90vw;
	margin: 0 auto;
}

.scrollstop {
	overflow: hidden;
	opacity:0;
	transition:all 0.2s;
	max-height:100vh;
	display:none;
}

.vcenter {
	width: 100vw;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.text-center {
	text-align: center;
}

#fschild {
	/* overflow-x: hidden; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.logout {
	margin-top: 25vh;
	margin-bottom: 15vh
}

.red {
	color: #d1446f;
	text-decoration: none;
}

.rectangle {
	display: none;
	opacity: 0;
	max-width: 100vw;
	position: fixed;
	top: 5%;
	bottom: 5%;
	left: 0;
	height: 80vh;
	z-index: 20;
	transition: 0.3s opacity;
}

.venueimage {
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;

	
}

.fslogo {
	text-align: center;
}

.fslogo img {
	width: 20%;
}

.fscontent {
	margin-top: 0px;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.fsvenuetitle {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: white;
	margin-bottom: 2.5vw;
	margin-top: 1vw;
}

.fsaddress {
	font-family: PolySansNeutral;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 2em;
	color: yellow;

}

.mapbutton i {
	color: yellow;
	font-size: 16px;
	
}

.mapbutton {
	background: none;
	padding: 6px 15px;
	margin: 20px auto;
	text-decoration: none;
	width: fit-content;
	border: solid 1px white;
	border-radius: 100px;
}

.bigmapbutton{
    padding: 6px 15px;
    margin: 20px 10px;
    text-decoration: none;
    width: fit-content;
    border: solid 1px white;
    border-radius: 12px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: white;
    font-family: 'PolySansMedian';
	font-weight: normal;
	font-style: normal;
	font-size:14px;
	background-size:400% 400%;
	animation: gradient 15s ease infinite;
}

#bigmap {
	display:none;
	z-index:999;
	position:absolute;
	left:0;
	top: 0;
	overflow:scroll;
	max-width:100vw;
}

.bigmapimg {
	height:100%;
}

.mapbutton a {
	text-decoration: none;
	color: white !important
}

    padding: 6px 15px;
    margin: 20px auto;
    text-decoration: none;
    width: fit-content;
    border: solid 1px white;
    border-radius: 12px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: white;
    font-family: 'PolySansNeutral';    padding: 6px 15px;
    margin: 20px auto;
    text-decoration: none;
    width: fit-content;
    border: solid 1px white;
    border-radius: 12px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: white;
    font-family: 'PolySansNeutral';

.reportbutton i {
	color: yellow;
	font-size: 3vw
}

.reportbutton {
	background: none;
	border: solid yellow 1px;
	border-radius: 100px;
	padding: 6px 15px;
	margin: 10px auto;
	text-decoration: none;
	width: fit-content
}

a .reportbutton {
	text-decoration: none !important;
	color: yellow;
}

.fshoteltitle {
	text-align: center;
	font-size: 6vw;
	line-height: 6vw;
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	color: white;
	margin-bottom: 1px;
}

.fstit {
	font-family: 'PolySansNeutral';
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	color: white;
	text-align: center;
	color: #93d0f2
}

.fstit i {
	margin-right: 6px;
	color: #93d0f2
}

.fsoffertitle {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	font-size: 4vw;
	line-height: 6vw;
	color: white
}

.fssubtitle {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	font-size: 4vw;
	text-align: center;
	color: white;
}

.fsinfotext {
	font-family: PolySansNeutral;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	margin-top: 2vh;
	margin-bottom: 1vh;
	color: white
}

.placeoffer {
	background-color: color(srgb 1 0.824 0 / 0.47);
	border-radius: 20px;
	text-align: center;
	padding: 4vw 4vw 4.5vw 4vw;
	margin-top: 4vh;
	color: white;
	border:solid 4px color(srgb 9 9 9 / 0.12);
}

.fsoffertitle {
	font-size: 6vw;
	line-height: 1em;
	font-family: PolySansBulky;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	margin-bottom:1vh
}

.fsoffersubtitle {
	font-size: 16px;
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	text-align: center;
}

.fsofferdesc {
	font-size: 16px;
	font-family: PolySansNeutral;
	font-weight: normal;
	font-style: normal;
	text-align: center;
}

.fsoffercode {
	font-size: 30px;
	line-height: 100px;
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	text-align: center;	
	margin-top:2vh;
	margin-bottom:1vh;
	border:1px solid color(srgb 1 1 1 / 0.438);
	border-radius:12px;
}

.fsdesc {
	font-size: 18pt;
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	color: white;
	margin-left: 5%;
	margin-right: 5%;
}


.pagedate {
	width: 100%;
	color: white;
	font-size: 3vw;
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	padding: 2vh 2.5vw 1vh 2.5vw;
}

.fsvenueimage {
	width: 100vw;
	-webkit-box-shadow: 0px 0px 81px 9px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 0px 0px 81px 9px rgba(0, 0, 0, 0.29);
	box-shadow: 0px 0px 81px 9px rgba(0, 0, 0, 0.29);
}

.fsvenuename {
	font-size: 10vw;
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	text-align: center;
}

.venuename {
	text-align: left;
	font-size: 20px;
	line-height: 24px;
	font-family: PolySansNeutral;
	font-weight: normal;
	font-style: normal;
	color: white;
	margin-bottom: 1vw;
	margin-top: 1vw;
	padding-right:2vw;

}

.subtitle {
	color: #201e1e;
	font-family: 'PolySansNeutral';
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	line-height: 17px;
	color: white;
	float:left;
}

.infodesc {
	font-family: PolySansSlim;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 1vh;
	color: color(srgb 1 1 1 / 0.701);
	min-height:4vh;
}

.tap4more {
	transition: max-height 0.2s ease-out;
	font-family: PolySansSlim;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 1vh;
	color: color(srgb 1 1 1 / 0.701);
	padding-left:2vw;
	max-height: 20px;
	overflow:hidden;
}



.closebutton {position:absolute; top:3%; right:3%; z-index:100; color:white}

#errorModal {
	display: none;
	position: absolute;
	z-index: 99;
	width: 100%;
	top: 0px;
}

.behind {
	z-index: -2;
}

.bgimage {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
	width: 100%;
}

.modal {
	background-color: rgba(0,0,0,0.4);
	position:absolute;
	top: 0px;
	height: 100vh;
}

.modal-content {
	margin: 20px;
	padding: 20px;
}

.modal-dialog {
	background-color: white;
}

.modal-header {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	font-size: 32pt;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #d1446f;
}

.modal-body {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	font-size: 16pt;
	text-align: center;
	color: black;
}

.modal-btn {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	/* line-height: 8vw; */
	font-size: 8vw;
	text-align: center;
	max-width: 50%;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid white;
	background-color:#d1446f;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 1*/0px;
	width: 70%;
	border-radius: 180px;
}

.modal-footer {
	margin-bottom: 20px;
}

.loginlogo {
	margin-left: auto;
	margin-right: auto;
	width: 40vw;
	padding-top: 60px;
	padding-bottom: 40px;
	background-repeat: no-repeat;
	background-size: 100%;
}

.loginlogoimg {
	width: 40vw
}

.black {
	color: black;
}

.white {
	color: white;
}

.loginexplain {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	opacity: 1;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	margin-top: 60px;
	margin-bottom: 20px;
}

.logintext {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	font-size: 5vw;
	line-height: 8vh;
	text-align: center;
	max-width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 10px;
}

.loginbtn {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	background: #d1446f;
	border-radius: 140px;
	font-weight: normal;
	font-style: normal;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 6vw;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	min-width: 60vw;
	width: 60vw;
	padding-top: 20px;
	padding-bottom: 18px;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.form-control {
	padding: 20px 0;
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 60vw;
	border: 1px solid #ad95cc;
	text-transform: uppercase;
	font-family: 'PolySansMedian';
	font-weight: normal;
	font-style: normal;
	font-size: 6vw;
	line-height: 1em;
	text-align: center;
}


.closeevent {
	position: fixed;
	top: 0;
	background-color:rgba(255,255,255,0.2);
	left: 0;
	display: none;
	width: 7vw;
	line-height:9vh;
	height: 9.5vh;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.fa-chevron-left {
	font-size:1.6em!important;
	padding-top:2.6vh;
	padding-left:0.5vw;

}

.closecontainer {
	position: fixed;
	bottom: 5vh;
	width: 100%;
	text-align: center;
	display: none;
}

.btnclose {
	text-align: center;
	font-size: 28pt;
	color: white;
	border: none;
	background-color: none;
	opacity: 0;
	cursor: pointer;
	transition: opacity 0.5s;
}

.no_ul {
	text-decoration: none;
}

h1 {
	text-align: center;
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	color: red;
}

h2 {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	font-size: 5vw;
	text-align: center;
	background: -webkit-linear-gradient(left, pink, yellow);
	background: -o-linear-gradient(right, pink, yellow);
	background: -moz-linear-gradient(right, pink, yellow);
	background: linear-gradient(to right, pink, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


h3 {
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	font-size: 4vw;
	text-align: center;
	text-align: center;
	background: -webkit-linear-gradient(left, pink, lightblue);
	background: -o-linear-gradient(right, pink, lightblue);
	background: -moz-linear-gradient(right, pink, lightblue);
	background: linear-gradient(to right, pink, lightblue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


td {
	text-align: center;
}

.title {
	text-align: center;
	font-size: 2em;
}


.fullwidth {
	width: 100%;
}

.fullheight {
	height: 100vh;
}

.appear {
	position:absolute;
	transform: translate(100%,0);
	transition: all	.25s ease-in-out;
}

.appearbottom {

position:absolute;
transform: translate(0,100%);
transition: all	.25s ease-in-out;
}

.venuelogo {
	padding-top: 10%;
}

.vlogo {
	text-align: center;
	max-width: 50%;
}

.nologo {}

.venuetext {
	text-align: center;
	font-family: FrankfurterBold;
	font-size: 40pt;
}

.bigcard {
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 5600;
	background-color: white;
}

.sometext {
	text-align: center;
	color: white;
	background-color: black;
	font-size: 32pt;
}

.fullsize {
	display: none;
	height: 100vh;
	top: 0px;
	/*opacity:0; */
}

.textdisappear {
	color: rgba(0, 0, 0, 0);
	transition: all .5s
}

.outer {
	/* min-height:100vh; */
margin-bottom:60px
}



.showthis {

	transition: opacity 1s;
}

.movetotop {
	transition: margin-top 2s;
	margin-top: 0px;
}

#fsdiv {

	transition: all .25s, color 0.2s;
	border-radius: 10px;
}

.fullvh {
	height: 100vh;
}

.newclass {
	background-color: white;
	transition: all .1s;
	/* transition-delay:5s; */
	opacity: 0;
	font-family: FrankfurterBold;
	font-size: 0px;
	text-align: center;
	/* animation-delay:5s; */
}

.logoimg {
	max-height: 80px;
	position: fixed;
	top: 10px;
	left: 10px;
}

.sticky-top {
	position: fixed;
	top: 0px;
	left: 0px;
	background: inherit;
	height: 110px;
	width: 100%;
}

.venuerec {
	color: white;
	position: absolute;
	font-size: 1em;
	right: 1vw;
	top: 1vh;
}

.placeimage {
	max-width: 44vw;
	float: left;
	border-radius: 10px;
}

.fsrec {
	color: white;
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	font-size: 2.5vw;
	text-align: center;
	text-transform: uppercase;
}

.fsrec i {
	color: white;

	margin-right: 3px;
}

.fsplaceimage {
	max-width: 40%;
	border-radius: 10px;
}

.placecontainer {
	
	position: relative;
	margin: 1vw 1vw
	
}

.place_expanded {
	background-color:#fde1ff!important;
color: black!important;
border-radius:0!important;
}

.placename {
position: absolute;

    margin-top: 34vw;
	height:10vw;
    width: 44vw;
    background-color: #d2d7eb;
		background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

	line-height:5vh;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
    font-family: 'PolySansMedian';
	font-weight: normal;
	font-style: normal;
    text-align: center;
   /* color: #601965; */
    text-transform: initial;
    font-size: 14px;
}

.container2 {
	width: 42vw;
	min-width: 42vw;
	min-height: 42vw;
}

.placesdivider {
overflow-x:scroll;	
}

.placesdivider::-webkit-scrollbar {
  display: none;
}

.placesholder {
	width: 45vw;
	scroll-snap-align: start;
	scroll-padding:25vw;
	/* 		min-width: 50vw;
	min-height: 50vw; */
}

::view-transition-group(*) {
	animation-duration: 0.5s;
	overflow: hidden;
}

.placesouter {
	 transition: all ease-in-out 0.25s;
	 width: 99.5vw;
    margin-left: 0.5vw;
	margin-bottom:5vh;
}


.placespage {
	padding-top: 15vh;
	padding-bottom: 30vh;
}

.pagedesc{
	font-size: 5vw;
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	margin-left:2vw;
	margin-top:2vh;
	margin-bottom:1vh;
}

.placetype {
	margin:1.5vw;
	font-family: PolySansMedian;

}

.placesdivider {
	scroll-snap-type: x mandatory;
	text-align: left;
	/* padding: 5vw 0vw 0vw 0vw; */
	margin: 0 0vw 2.5vw 0.5vw;
display:flex;
flex-direction:row;
	font-size: 5vw;
	font-family: PolySansMedian;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;

overflow-x:scroll;
	color: white;
}

.placesdivider:first-child {
	padding: 1vw 0vw 0vw 0vw;
	margin: 0 2.5vw 2.5vw 2.5vw
}

.placesdivider i {

}


.upcominglist {
	margin-top: 2vh;
	margin-bottom: 2vh;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2vh;
    padding-top: 2vh;
	background-color: rgba(0,0,0,0.2);
}

.upcomingtitle {
    font-family: 'PolySansMedian';
	font-weight: normal;
	font-style: normal;
    color: white;
    text-align: center;
	text-transform:uppercase;
}

.eventlist {
    text-align: center;
    color: white;
    font-family: 'PolySansMedian';
		font-weight: normal;
	font-style: normal;
    font-size: 4vw;
	margin-top: 1vh;
}

.eventcomment {
	color: #ccc;
    font-size: smaller;
    font-family: 'PolySansMedian';
		font-weight: normal;
	font-style: normal;
}

.meetdesc {
    line-height:5vh;
	margin-top:10px;
	background-color: rgba(0,0,0,0.2);
	padding-bottom:5px;
	border-radius:10px;
	color: white;
	font-size: 5vw;
	font-family: 'PolySansMedian';
		font-weight: normal;
	font-style: normal;
	text-align: center;
}

.meetdesc a {
	color:white;
}

.mainsubtitle{
	display:none;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5vw;
    font-family: 'PolySansMedian';
		font-weight: normal;
	font-style: normal;
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
    color: black;
    margin-top: 10vh;
    border-style: solid;
    border-radius: 10px;
    border-width: 0.2em;
    border-color: #9bd8d5;
}



.eventdate{
	/* background-color: #17a59d6e; */
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

    font-family: PolySansNeutral;
		font-weight: normal;
	font-style: normal;
	font-weight:700;
    font-size: 5vw;
    border-radius: 10px;
	padding-left:4px;
	padding-right:4px;
}


.eventdate_pride{
	background-color: #17a59d6e;
	background: linear-gradient(-45deg, #ffa500, #ff0000,  #ffb5e8, #7bd3fe, #8a5603,  #9143ed,  #0000ff);
	background-size: 1000% 1000%;
	animation: gradient 65s ease infinite;

	font-family: PolySansNeutral;
		font-weight: normal;
	font-style: normal;
	font-weight:700;
	font-size: 5vw;
	border-radius: 10px;
	margin-top:1vh;
	margin-bottom:1vh;
	margin-left:2vw;
	margin-right:2vw;
	padding-bottom:0.2vh;
	padding-top: 0.5vh;
	padding-left:4px;
	padding-right:4px;
}


.eventdatetext {
	padding:2vw;
	color:white;
	text-transform: uppercase;
	font-size: 14px;
	font-family: PolySansMedian;
		font-weight: normal;
	font-style: normal;
	
}
.eventimg{
width:35vw;
max-height:35vw;	
border-radius:10px;
}

.eventmain {
	    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.eventcontainer {
    /* width:85vw; */

    margin-left: auto;
    margin-right: auto;
   /* background-color:  color(srgb 0 0 0  / 0.233); */
   background-color:black;
    margin-bottom: .5vh;
    border-radius: 10px;
   box-sizing: border-box;

  border: 5px;
  color: #FFF;
  background: #000;
  background-clip: padding-box; /* !importanté */
  border: solid 2px transparent; /* !importanté */
  position:relative;
}
 .eventcontainer:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -2px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 200%;
	animation: gradient 15s ease infinite;
  }
}

.eventdaytime {
	background-color: color(srgb 1 1 1 / 0.15);
}

.eventdivider {
	width: 100vw;
	text-align: left;
	/* border-bottom: 1px dotted black; */
	margin-bottom:1vh;
}

.collapse{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsecontainer{
		background: color(srgb 0 0 0 / 0.146);
		padding:1vh 5vw;
		border-radius:12px;
}

.white {
	color: white!important;
}

.venuecollapse {
    max-height: 0;
    overflow: hidden;
    width: 88vw;
    margin-left: 1vw;
    font-family: PolySansMedian;
		font-weight: normal;
	font-style: normal;
    background-color: #fde1ff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: white;
    transition: all 0.2s ease-out;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	text-transform:none;
}

.venuetext {
	color:black;
}

.venuecolltext {
	padding:10vw;
}

.safespaceimg{
	width:96vw; margin: 2vw 2vw; border-radius:12px;
}



@media only screen and (min-width: 1024px) {
	
	.pages {
		width: 100%;
	}
	
	#appbody {
	width:80vw;
margin-left:10vw;	
	}
	
	.appcontent {
		width:50vw;
	}
	
	.leedspridelogo {
		right:10vw;
	}
	.titletext {
		color:red;
		margin-top:7vh;
	}
	.safe_space {
		margin-left:auto;
		margin-right:auto;
	}
.placesdivider {
	flex-wrap:wrap;
}

  body {
    background-color: black;
	 overflow-y: scroll; /* Show vertical scrollbar */
  overflow-x: scroll; /* Show horizontal scrollbar */
  }
  
  .placeimage {
	  max-height:140px;
  }

  .headertop {
	  width:80vw;
	  background-color:white;
	 
	  margin-left:20vw;
	  margin-right:20vw;
	  max-height:10vh;
  }
  .headerdate {
	  width: 80vw;
	  margin-left:10vw;
        margin-right: 10vw;
        text-align: right;
  }
  
  .headernew {
	  width:80vw;
	  margin-bottom:0;
  }
  
  
  .appcontent {
    width: 80vw;
  }
  .footermenu {
	  
	  	  margin-left:auto;
	  margin-right:auto;
  }
  .applogo {
	  width:80px;
	  height: 80px;
	  padding: 10px;
  }
  .titletext {
	font-size: 36px;
    margin-top: 20px;
  }

  .pagedesc{
	  font-size:2vw;

  }
  .eventdatetext{
	
	  font-size:1vw;
	  padding:.5vw;
  }
  .eventcontainer {
	  padding: 0.5vw;
  }
   .eventdate{
	  font-size:1vw;
	  line-height:1.2vw;
	  padding:.3vw;
  }
   .venuename{
	  font-size:1vw;
	  line-height:1vw;
	  margin-bottom:0.5vw;
	  margin-top:0.5vw;
  }
   .subtitle{
	  font-size:1vw;
	  line-height:1.2vw;
  }
   .infodesc{
	  font-size:2vh;
	  line-height:2.5vh;
  }
  .eventimg{
	  width:20vh;
	  height:20vh;
  }
  .placesdivider {
	  margin:0;
	  
  }
  .addinterest{
	  right:40px;
  }
  
  .int_text {
	  padding-right:10px;
  }
  
  .fsaddress {
	  font-size:1vw;
	  line-height:1.2vw;
  }
  .mapbutton i{
	  font-size:2vw;
  }
  .placesholder {
	  width:150px;
	  scroll-padding:0;
  }
  .placename {
	  margin-top:110px;
	  font-size:0.75vw;
	  width:140px;
	max-height:30px;
   }
 
 .venuerec {
	font-size:2vw;
	left: 105px;
	top: 5px;
}
.fsvenueimage {
	width: 30vw;
}
.venuecolltext {
	padding: 0px 40px;
}
.outer {
	width:auto!important;
}
.leedspridelogo img{
	width:33%;
}

video {
	width:6vw;
	
}

#fullscreencard {
	margin-left:25vw;
	margin-right:25vw;
}

.venuemodal {
	width:50vw;
margin-left:auto;
margin-right:auto;
  }
  
  .fstit {
	  font-size:1vw;
  }
  .mainsubtitle {
	  width:60vw;
	  margin-left:20vw;
	  margin-right:20vw;
	  font-size:1vw;
	  padding:0;
	line-height:2vw;
  }
  .placesouter {
	  width:80vw;
  }
  .call-101 {
	  background-size:10vw;
  }
  
  .placetype {
	  font-size:2vw;
  }

  .placecontainer {
	  margin:1.5vw;
	  
  }
  .safespaceimg {
	  width:50vw!important;
  }
  
  .venuecollapse {
	  width:55vw;
	  margin-left:0vw;
  }
  
  .cta {
	  width:20vw;
	  font-size:1.5vw;
	  padding:0.5vw;
  }
  .stleft {
	  margin-right:10px;
  }
  .nextlff {
	  font-size:2vw;
	  width:80vw;
	  line-height:3vw;
  }
  .appcontent {
	  transition: all 0.2s;
  }
  .socialbutton {
	  width: auto;
  }
  .serviceicon {
	  padding:0;
	  padding-right:2vw;
  }
  .servicename {
	  font-size:2vw;
  }
}
